{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Template Main CSS File -->
    <link href="/css/auth.css" rel="stylesheet">

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css/check_email.css">
{% endblock %}

{%  block javascripts %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block title %}Mot de passe oublié - mail envoyé{% endblock %}

{% block body %}
    <div class="message_sent">
        <p>
            Si un compte a été trouvé grâce au mail existant, un email vous sera envoyé contenant un lien qui va servir à rénitialiser votre mot de passe.
            Ce lien va expirer dans : {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>
            Si vous ne recevez pas de mail, regardez dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">Essayez encore</a>.
        </p>
    </div>
{% endblock %}
