img {
    height: 115px;
    width: 200px;
}

#main-image {
    height: 500px;
    width: 950px;
}

#start {
    font-size: 1em;
}

#started {
    font-size: 1em;
}

#startedby {
    font-size: 1.2em;
}

#visited {
    font-size: 1.2em;
}

#visit {
    font-size: 1em;
}

#comments {
    font-size: 1.2em;
}

#comment {
    font-size: 1em;
}

.post-title {
    font-size: 1.5em;
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 50%;
}


/* main img */
.img-container {
    position: relative;
    width: 100%;
    max-width: 950px;
    height: auto;
}

/* icon for main img post */
.post-icon {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}

.fa-pencil {
    top: 15px;
}

/* Medias (vidéos, photos) */
form {
    position: relative;
    display: flex;
}

.update-icon {
    padding-top: 7px;
    margin-left: 10px;
}

.crud-icon {
    display: flex;
    position: absolute;
    top: 110px;
    right: 65px;
}

.container-media { 
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

/* images */
.images-post {
    padding: 10px;
    margin-bottom: 30px;
}

/* videos */
.videos-post {
    height: 113px;
    width: 200px;
    margin-bottom: 30px;
}

.container {
    position: relative;
}

.post-title:hover {
    text-decoration: none;
    color: #990099;
}

.btn-load-media {
    display: none;
    margin-left: 40%;
    margin: 0 auto;
    width: 100px;
}

@media screen and (max-width: 1000px) {
    .main-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .post-icon {
        display: flex;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .img-container {
        width: 100%;
    }
    
}

@media screen and (max-width: 1250px) {
    .container-media {
        display: none;
    }
    
    .btn-load-media {
        display: block;
    }
}