{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1>Création d'une figure</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Ajouter la figure !</button>

    {{ form_end(form) }}

{% endblock %}
