{% extends 'base.html.twig' %}

{% block title %}Edit Photo{% endblock %}

{% block stylesheets %}
    <link href="/css/crudPhoto.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Edit Photo</h1>

    {{ include('photo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('photo_index') }}">back to list</a>

    {{ include('photo/_delete_form.html.twig') }}

    <script>
    $('.custom-file-input').on('change', function(event) {
    let inputFile = event.currentTarget;
    $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
    });
</script>
{% endblock %}
