{% extends 'base.html.twig' %}

{% block title %}Modifier la video{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 150px;">
        <h1>Editer la Video</h1>

        {{ include('video/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('video_index') }}">Revenir à la liste de videos</a>

        {{ include('video/_delete_form.html.twig') }}
    </div>
{% endblock %}
