{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="/css/404.css" rel="stylesheet">
{% endblock %}

{% block title %}New Post{% endblock %}


{% block body %}
    <div class="container" style="margin-top: 200px; margin-left: 20%;">
        <h1>Erreur !</h1>
        <p>vous devez être connectés !</p>
        Veuiller vous <a href="{{ path('app_login') }}">connecter</a><br/>
        
        <div>
            <img src="{{ asset('assets/img/404.jpg') }}" class="" alt="...">          
        </div>
    </div>
{% endblock %}
